@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.contain {
    width: 900px;
    margin: auto;
}

.contain h1 {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    
    
}