


.slick-track{
    display: flex;

}
.slick-slide{
    width: 50px;
}
.img-slide{
    margin-left: 10px;

}
.img-slider-contain .slick-slide{
    width: auto !important;
    
   
}
.slick-prev:before{
    content: none !important;
}
.img-slider-contain{
    margin-left:60px;
}
.sliderContainer{
    width: 500px;
    margin-left: 70px;
}
.firstimgSS img{
    width: 500px;
    height: 562px;
}

  .slick-arrow.slick-prev{  
    left:-12px;
    z-index: 1;
}

.slick-arrow.slick-next{
    right: -13px;
}

.img-slider-contain .slick-current{
    border:3px solid rgba(70, 67, 67, 1);
    padding-top: 2px;
   padding-right: 2px;
   transform: translate(1px);
}

.img-slider-contain img{
    margin-top:4px;
    margin-right: 4px;
}


.slick-arrow.slick-next{
    background-repeat: no-repeat;
background-position: center;
background-color: white;

height:20px;
width:10px;
border:2px solid black;
border-radius:10px;
padding: 20px;
position:absolute;
top:50%;
right:-1em;
font-size: 20px;
}

.slick-arrow.slick-prev{
    background-repeat: no-repeat;
background-position: center;
background-color: white;

height:20px;
width:10px;
border:2px solid black;
border-radius:10px;
padding: 20px;
position:absolute;
top:50%;
right:-1em;
left:-1em;
font-size: 20px;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: none;
outline: none; 
outline-color: initial;
    outline-style: none;
    outline-width: initial;
background: none;
background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
   
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
}
.img-slide-h2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
text-align: center;
}