@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.image-nav{
    padding-right: 30px;
}
.Menu li{
    display: inline;
    
    border-left-style: solid;
    border-color: #909090;
    font-size: 28px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    
    
}
.Menu{
    margin-left: 40px;
}
.linkText{

    color: rgba(70, 67, 67, 1);
    text-decoration: none;
    margin-left: 22.7px;


}
.linkText:hover{
    font-weight: 500;
    color: rgba(70, 67, 67, 1);
    text-decoration: none;
}
.linkText :active{
    font-weight: 500;
    color: rgba(70, 67, 67, 1);
}
.Menu li:first-child{
    color: rgba(70, 67, 67, 1);

    
}
.Menu li:last-child{
    border-right-style: solid;
    border-color: #909090;
    padding-right: 15px;
}
@media screen and (max-width: 480px) {
 
    .container{
        max-width: 100vw;
        max-height: 100vh;
    }
   
}