@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

table {
    border-collapse: separate;
    border-spacing: 30px;
    
  }


td {
  width: 275px;
  text-align: center;

  padding: 25px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 22px;
  
  
  
  
}

td a{
  width:150px;
  height: 40px;
  background: #747171;
border-radius: 20px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #fff !important;
padding: 10px 28px;

}

.space2{
  margin-left: 240px;
}

.toastwrap .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root{
  margin-left: -590px;
transform: rotate(270deg);
}
 .MuiAccordionSummary-expandIconWrapper.Mui-expanded.css-yw020d-MuiAccordionSummary-expandIconWrapper{
  transform: rotate(360deg);
  
}
.MuiAccordionSummary-content.Mui-expanded.MuiAccordionSummary-contentGutters.css-o4b71y-MuiAccordionSummary-content{
  border-bottom: 1px solid;
  padding-bottom: 7px;
}